@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@font-face {
    font-family: 'Roboto_bold';
    src: url('../Fonts/iran_sans_bold.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_light.woff') format('woff');
}

@font-face {
    font-family: 'iran_sans_medi';
    src: url('../Fonts/iran_sans_medi.woff') format('woff');
    font-family:iran_sans_light;
}
*{
    margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

/* navigation bar */
.wrapper{
    background: #fad48b;
    position: fixed;
    width: 100%;
    z-index: 9999;
  }
  
  .wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    background: #fad48b;
    margin: 0 auto;
    height: 80px;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .content{
    display: flex;
  }
  
  nav .content .links{
    margin-left: 30px;
    display: flex;
    margin-top: 20px;
    align-items: right;
    margin-right: 30px;
  }
  
  .content .logo a{
    color: black;
    font-size: 30px;
    font-weight: 600;
    align-items: left;
  }
  
  .content .links li{
    list-style: none;
    margin-top: 10px;
  }
  
  .content .links li a{
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    background: #fad48b;
    transition: all 0.3s ease;
  }
  
  .content .links li a:hover{
    background:#F69268 ;
  
  }
  
  .wrapper .menu-icon{
    color: black;
    font-size: 18px;
    cursor:pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
  
  .wrapper .menu-icon{
    display: none;
  }
  
  .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: black;
    background: #fad48b;
  }
  
  .wrapper .menu{
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  
  .wrapper .menu li{
    list-style: none;
    flex: 1;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    justify-content: space-between;
    margin-right: 40px;
  }
  .wrapper .menu li:hover a{
    color: #F69268;
  }
  .wrapper .menu li:first-child a{
    color: #000000;
  }
  .wrapper .menu li:first-child:hover a{
    color: #F69268;
    }
  .wrapper .menu li:nth-child(2) a{
    color: #000000;
  }
  .wrapper .menu li:nth-child(2):hover a{
    color: #000000;
  }
  
  .wrapper .menu .line{
    position: absolute;
    height: 3px;
    width: 15%;
    background: #F69268;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease;
  }
  .wrapper .menu li:nth-child(1):hover ~ .line{
    left: 5%;
  }
  .wrapper .menu li:nth-child(2):hover ~ .line{
    left: 53%;
  }
  
  /* Dropdown*/
  
  .content .links ul{
    position: absolute;
    background: #fad48b;
    top: 70px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    color: #000000;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display:block;
    width: 100%;
    line-height: 20px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position:absolute;
    top:0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
   .menu ul {
    position: absolute;
    background: #fad48b;
    top: 70px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    padding: 4px;
  }
  .menu li:hover > ul{
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .menu ul ul{
    position:absolute;
    top:0;
    right: calc(-100% + 8px);
  }
  .menu ul li a{
    display:block;
    width: 100%;
    line-height: 20px;
    border-radius: 0px!important;
    padding: 4px;
  }
   .wrapper .menu ul li{
    position: relative;
    color: #000000;
  }
  
  /* Screen fixing */
  @media screen and (max-width: 1250px) {
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 19px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
  }
  
  @media screen and (max-width:900px){
    .wrapper .menu-icon{
      display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      background:#fad48b ;
      height: 100%;
      width: 100%;
      top: 70px;
      left: 0;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a{
      line-height: 40px;
      font-weight: 20px;
      display: block;
      padding: 8px 18px;
  
    }
  /*Dropdown Responsive*/
  .content .links ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
  
  
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #F69268;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; 
    cursor: pointer;
    margin-right: 5px;
  }
  
  form.example button:hover {
    background: #F69268;
    transition: all 0.3s ease;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
/* featured  */
.featured{
  padding: 120px;
  margin-top: 0px;
}
.heading{
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 3rem;
  font-size: 3rem;
  color: #000;
}
.heading span{
  background-color:hsl(18, 89%, 69%);
  color: white;
  display: inline-block;
  padding: .3rem 2rem;
  border-radius: 4px;
  clip-path: polygon(100% 0,100% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.featured .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  gap: 1.5rem;
}
.featured .box-container .box{
  padding: 2rem 1rem;
  background-color: #fff;
  outline: .1rem solid rgba(0, 0, 0, .1);
  outline-offset: -1rem;
  text-align: center;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}
.featured .box-container .box:hover{
  outline: .1rem solid #000;
  outline-offset: 0rem;
}
.featured .box-container .box img{
  margin: 1rem 0;
  height: 10rem;
}
.featured .box-container .box h3{
  font-size: 2rem;
  line-height: 1.8;
  color: #000;
}
.featured .box-container .box p{
  font-size: 1rem;
  line-height: 1.8;
  color: #000;
  padding: 1rem 0;
}
.btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .5rem 2rem;
  font-size: 1.7rem;
  border-radius: .5rem;
  border: .1rem solid #000;
  color: #000;
  cursor: pointer;
  background: none;
  
}
.btn:hover{
  background-color: hsl(18, 89%, 69%);
  color: #fff;
  border: .2rem solid #fff;
}
.product .product-slider{
  padding: 1rem;
}
.product .product-slider:first-child{
  margin-bottom: 2rem;
}
.product{
  margin: 100px;
  margin-top: -100px;
}
.wrap{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  gap: 1.5rem;
}
.product .product-slider .box{
  background-color: #fff;
  border-radius: .5rem;
  text-align: center;
  padding: 3rem 2rem;
  outline: .1rem solid rgba(0, 0, 0, .1);
  outline-offset: -1rem;
  text-align: center;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
  transition: .2s linear;
}
.product .product-slider .box:hover{
  outline-offset: 0rem;
  outline: .1rem solid #000;
}
.product .product-slider .box img{
  height: 15rem;
}
.product .product-slider .box  h3{
  font-size: 1.5rem;
  color: #000;
}
.product .product-slider .box  .price{
  font-size: 1.5rem;
  columns: #000;
  padding: .5rem 0;
}
.product .product-slider .box .stars i{
  font-size: 1.5rem;
  color: hsl(18, 89%, 69%);
  padding: .5rem 0;
}
/* catagaries */
.catagories{
  margin: 100px;
  margin-top: -100px;
}
.catagories .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem,1fr));
  gap: 1.5rem;
}
.catagories .box-container .box{
  padding: 2rem 1rem;
  background-color: #ecf0f1;
  outline: .1rem solid rgba(0, 0, 0, .1);
  outline-offset: -1rem;
  text-align: center;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}
.catagories .box-container .box:hover{
  outline: .1rem solid #000;
  outline-offset: 0rem;
}
.catagories .box-container .box img{
  margin: 1rem 0;
  height: 10rem;
}
.catagories .box-container .box h3{
  font-size: 1.5rem;
  color: #000;
  line-height: 1.5;
}
.catagories .box-container .box p{
  font-size: 1.5rem;
  color: #0000;
  line-height:1.5;
  padding: 1rem 0;
}
.writer{
  margin: 100px;
  margin-top: -100px;
}
.writer .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
  gap: 1.5rem;
}
.writer .box-container .box{
  padding: 2rem 1rem;
  background-color: #fff;
  outline: .1rem solid rgba(0, 0, 0, .1);
  outline-offset: -1rem;
  text-align: center;
  box-shadow:0 .5rem 1rem rgba(0, 0, 0, .1);
}
.writer .box-container .box:hover{
  outline: .1rem solid #000;
  outline-offset: 0rem;
}
.writer .box-container .box img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: .2rem solid #ccc;
}
.writer .box-container .box h3{
  font-size: 1.5rem;
  padding-bottom: .5rem;
}
.writer .box-container .box .stars i{
  font-size: 1.3rem;
  color: hsl(18, 89%, 69%);
  padding: .5rem 0;
}
.writer .box-container .box p{
  padding: 1rem 0;
  line-height: 1.5;
  color: #0000;
  font-size: 1.2rem;
}
.banner-container{
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.banner-container .banner{
  background:linear-gradient(-55deg, #e875ff 29%, rgb(178, 23, 132) 29.1%, #3a1286 68%, rgba(181, 102, 255, 0.533).1%);
  border-radius: 5px;
  margin:10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 5px 10px #0005;
  overflow: hidden;
}

.banner-container .banner .shoe{
  flex:1 1 250px;
  padding:15px;
  text-align: center;
}

.banner-container .banner .shoe img{
  width:30%;
}

.banner-container .banner .cont{
  flex:1 1 250px;
  text-align: center;
  padding:10px;
  text-transform: uppercase;
}

.banner-container .banner .cont span{
  color:#fff;
  font-size: 25px;
}

.banner-container .banner .cont h3{
  color:#ffff;
  font-size: 40px;
}

.banner-container .banner .cont p{
  color:rgb(1, 1, 10);
  font-size: 20px;
  padding:10px 0;
  font-style: italic;
}

.banner-container .banner .cont .btn{
  display: block;
  height:40px;
  width:1000px;
  line-height: 40px;
  background: #ffff;
  color:rgba(128, 0, 128, 0.815);
  margin:5px auto;
  text-decoration: none;
}

.banner-container .banner .women{
  position: relative;
  bottom: -33px;
  padding:10px;
  flex:1 1 250px;
}

.banner-container .banner .women img{
  width:100%;
}

@media (max-width:768px){
  .banner-container .banner .women{
      display: none;
  }
}

.hero{
  width: 650px;
  position: absolute;
  left: 10%;
  top: 33%;
  transition: translate(-10%,-33%);
  line-height: 60px;
}
.hero p:nth-child(1),.hero .details{
  color: #fff;
  font-size: 20px;
}
.details{
  line-height: 30px !important;
}
.hero h1{
  font-size: 40px;
  margin: 0;
  letter-spacing: 3px;
  color: #fff;
}
.hero span{
  color: hsl(18, 89%, 69%);
}
.download{
  width: 200px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:white;
  color:hsl(18, 89%, 69%);
  border-radius: 4px;
  margin-top: 20px;
}
.download:hover{
  background-color: #131313;
  transition: all ease 0.4s;
}
