@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  background: #fad48b;
  position: fixed;
  width: 100%;
}

.wrapper nav{
  z-index: 9999;
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  background: #fad48b;
  margin: 0 auto;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}

nav .content{
  z-index: 9999;
  display: flex;
}

nav .content .links{
  z-index: 9999;
  margin-left: 30px;
  display: flex;
  margin-top: 20px;
  align-items: right;
  margin-right: 30px;
}

.content .logo a{
  z-index: 9999;
  color: black;
  font-size: 30px;
  font-weight: 600;
  align-items: left;
}

.content .links li{
  list-style: none;
  margin-top: 10px;
}

.content .links li a{
  color: black;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  background: #fad48b;
  transition: all 0.3s ease;
}

.content .links li a:hover{
  background:#F69268 ;

}

.wrapper .menu-icon{
  color: black;
  font-size: 18px;
  cursor:pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}

.wrapper .menu-icon{
  display: none;
}

.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: black;
  background: #fad48b;
}

.wrapper .menu{
  display: flex;
  position: relative;
  justify-content: space-between;
}

.wrapper .menu li{
  list-style: none;
  flex: 1;
  font-size: 22px;
  cursor: pointer;
  user-select: none;
  justify-content: space-between;
  margin-right: 40px;
}
.wrapper .menu li:hover a{
  color: #F69268;
}
.wrapper .menu li:first-child a{
  color: #000000;
}
.wrapper .menu li:first-child:hover a{
  color: #F69268;
  }
.wrapper .menu li:nth-child(2) a{
  color: #000000;
}
.wrapper .menu li:nth-child(2):hover a{
  color: #000000;
}

.wrapper .menu .line{
  position: absolute;
  height: 3px;
  width: 15%;
  background: #F69268;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.wrapper .menu li:nth-child(1):hover ~ .line{
  left: 5%;
}
.wrapper .menu li:nth-child(2):hover ~ .line{
  left: 53%;
}

/* Dropdown*/

.content .links ul{
  position: absolute;
  background: #fad48b;
  top: 70px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  color: #000000;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display:block;
  width: 100%;
  line-height: 20px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position:absolute;
  top:0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
 .menu ul {
  z-index: 9999;
  position: absolute;
  background: #fad48b;
  top: 70px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  padding: 4px;
}
.menu li:hover > ul{
  top: 50px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.menu ul ul{
  position:absolute;
  top:0;
  right: calc(-100% + 8px);
}
.menu ul li a{
  display:block;
  width: 100%;
  line-height: 20px;
  border-radius: 0px!important;
  padding: 4px;
}
 .wrapper .menu ul li{
  position: relative;
  color: #000000;
}

/* Content */

.container{
    width:1550px;
}

.roller{
  margin-top: 0px;
}
#bg_img img{
  margin-top: 80px;
}
.roller h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  text-align: left;
  margin-top: 200px;
  margin-left: 110px;
  color: #f57640;
}

.roller h2{
  font-family: 'Allura', cursive;
  font-size: 38px;
  text-align: left;
  margin-left: 110px;
  color: #E42374;
}

.roller h4{
  font-family: 'Allura', cursive;
  font-size: 25px;
  text-align: left;
  margin-left: 110px;
  color: #f57640;
}

.team{
  z-index: 1;
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}

.team .team_member{
  background: #f69268;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #ffff;  
  position: relative;
}

.team .team_member h3{
  color: #fad48b;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

/* Screen fixing */
@media screen and (max-width: 1250px) {
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 19px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width:900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background:#fad48b ;
    height: 100%;
    width: 100%;
    top: 70px;
    left: 0;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a{
    line-height: 40px;
    font-weight: 20px;
    display: block;
    padding: 8px 18px;

  }
/*Dropdown Responsive*/
.content .links ul{
  position: static;
  opacity: 1;
  visibility: visible;
  background: none;
}
.content .links ul li{
  margin: 7px 20px;
}
.content .links ul li a{
  font-size: 18px;
  line-height: 30px;
  border-radius: 5px!important;
}


}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 60%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #F69268;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; 
  cursor: pointer;
  margin-right: 5px;
}

form.example button:hover {
  background: #F69268;
  transition: all 0.3s ease;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

